.clothes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .clothes-item {
    background-color: white;
    text-align: center;
    margin-top: 10px;

    transition: .2s linear;
  }

  .clothes-item:hover{
    transform: scale(1.1);
  }
  
  .show-more-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

.product-image {
  width: 85%;
  height: 50vh;
  object-fit: cover;
  max-height: 450px;
}

.product-details {
  margin-top: 5px;
  font-family: sans-serif;
  font-size: min(1.2vw, 0.9rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .075rem;
}

.admin-options{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 4px;
}

.add-to-cart-btn{
  color: white;
  font-family: Inter,"Inter Fallback",sans-serif;
  font-size: 1.1rem;
  grid-column: span 2;
  padding: .6rem;
  background-color: rgb(29, 29, 29);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-btn-edit{
  color: white;
  font-family: Inter,"Inter Fallback",sans-serif;
  font-size: 1.1rem;
  grid-column: 1;
  padding: .6rem;
  background-color: rgb(29, 29, 29);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-btn-delete{
  color: white;
  font-family: Inter,"Inter Fallback",sans-serif;
  font-size: 1.1rem;
  grid-column: 2;
  padding: .6rem;
  background-color: rgb(29, 29, 29);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-btn-edit:hover, .admin-btn-delete:hover, .add-to-cart-btn:hover{
  background-color: black;
}