<div class="home-container">

    <div class="card-container">

        <div class="card">
            <a href="#" class="card">
                <img src="assets/images/homeWomen.jpg" alt="Women">
            </a>
            <div class="centered">
                <p>Women</p>
            </div>
        </div>
    
        <div class="card">
            <a href="#" class="card">
                <img src="assets/images/homeMen.jpg" alt="Men">
            </a>
            <div class="centered">
                <p>Men</p>
            </div>
        </div>
    
        <div class="card">
            <a href="#" class="card">
                <img src="assets/images/homeKids.jpg" alt="Kids">
            </a>
            <div class="centered">
                <p>Kids</p>
            </div>
        </div>
    
      </div>
</div>