<div class="clothes-container">
    <div *ngFor="let product of products; let i = index;">
        <div class="clothes-item">
            <div>
                <div [id]="i" *ngIf="activeNotificationId === i.toString()" class="notification">+1</div>
                <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" class="product-image" alt="Product Image">
                <div class="admin-options">
                    <button *ngIf="!isAdmin" (click)="addToCart(product, i)" class="add-to-cart-btn">
                        Add to cart
                    </button>
                    <button *ngIf="isAdmin" (click)="editProduct(product.id)" class="admin-btn-edit">
                        Edit
                    </button>
                    <button *ngIf="isAdmin" (click)="deleteProduct(product.id)" class="admin-btn-delete">
                        Delete
                    </button>
                </div>
            </div>
            <div class="product-details">
                <p>{{product.name}}</p>
                <p>{{product.price}} лв.</p>
            </div>
        </div>
    </div>
</div>

<button class="show-more-button" (click)="showMore()">Show More</button>