<div class="clothes-container">
    <div *ngFor="let product of products">
        <div class="clothes-item">
            <div>
                <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" class="product-image" alt="Product Image">
                <div class="admin-options" *ngIf="isAdmin">
                    <button (click)="editProduct(product.id)" class="admin-btn-edit">
                        Edit
                    </button>
                    <button (click)="deleteProduct(product.id)" class="admin-btn-delete">
                        Delete
                    </button>
                </div>
            </div>
            <div class="product-details">
                <p>{{product.name}}</p>
                <p>{{product.price}} лв.</p>
            </div>
        </div>
    </div>
</div>

<button class="show-more-button">Show More</button>