.login-container {
  width: 30%;
  height: 40%;

  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50%; left: 50%;

  transform: translate(-50%, -60%);

  margin: auto;

  background-color: white;
  border-radius: 3px;
  z-index: 100;
}

.login-container span{
    position: absolute;
    top: 10%; right: 4%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    z-index: 100;
}

.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.label-bold {
  font-weight: bold;
}

.input-field {
  width: 15vw;
  padding: 10px;
  border: 1px solid black;
}

.button-primary {
  width: 60%;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.button-primary:hover {
  color: lightgray;
}