.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 4vh;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

.navbar-brand a {
  color: #000;
  font-weight:100;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #666;
}

.mr-10 {
  margin-right: 10vw;
}

.ml-10{
  margin-left: 10vw;
}