<nav class="navbar">
  <ul class="navbar-nav ml-10">
    <li class="nav-item">
      <a class="nav-link" routerLink="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Women/TShirts">WOMEN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">MEN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">KIDS</a>
    </li>
  </ul>
  <div *ngIf="!isAuthenticated">
    <ul class="navbar-nav mr-10">
      <li class="nav-item">
        <a class="nav-link" (click)="showLoginForm()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showRegisterForm()">Register</a>
      </li>
    </ul>
  </div>
  <div *ngIf="isAuthenticated">
    <ul class="navbar-nav mr-10">
      <li *ngIf="!isAdmin" class="nav-item">
        <a class="nav-link">Cart</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="manageProductsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Products
        </a>
        <div class="dropdown-menu" aria-labelledby="manageProductsDropdown">
          <a class="dropdown-item" routerLink="/AddProduct">Add new product</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>