<nav class="navbar">
  <ul class="navbar-nav ml-10">
    <li class="nav-item">
      <a class="nav-link" href="#">Women</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kids</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-10">
    <li class="nav-item">
      <a class="nav-link" (click)="showLoginForm()">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showRegisterForm()">Register</a>
    </li>
  </ul>
</nav>