<app-nav></app-nav>

<div class="container">
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#">T-shirts</a></li>
        <li><a href="#">Hoodies</a></li>
        <li><a href="#">Trousers</a></li>
        <li><a href="#">Shorts</a></li>
      </ul>
    </nav>
    
    <div class="content">
      <div class="clothes-container">
        <div class="clothes-item">Item 1</div>
        <div class="clothes-item">Item 2</div>
        <div class="clothes-item">Item 3</div>
        <!-- Repeat for more items -->
      </div>
    
      <button class="show-more-button">Show More</button>
    </div>
  </div>