<button class="back-btn" (click)="goBack()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back
</button>
<div class="product-details-container">
    <div class="product-images">
        <div class="slideshow">
            <div class="big-picture">
                <img [src]="getBase64ImageUrl(product.picturesData[currentIndex])" alt="Product Image">
            </div>
            <div class="small-pictures">
                <div *ngFor="let image of product.picturesData; let i = index" class="small-picture">
                    <img [src]="getBase64ImageUrl(image)" alt="Product Image" (click)="selectPicture(i)">
                </div>
            </div>
        </div>
    </div>
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p class="price">{{ product.price }} лв.</p>
      <p class="description">{{ product.description }}</p>

      <div class="form-group">
        <select class="input-field" id="size" name="size" title="size"  required>
            <option value="" selected disabled hidden>Choose size</option>
            <option *ngFor="let size of product.productSizes" [value]="size">{{ size }}</option>
        </select>
      </div>

      <div class="form-group">
        <select class="input-field" id="color" name="color" title="color"  required>
            <option value="" selected disabled hidden>Choose color</option>
            <option *ngFor="let color of product.productColors" [value]="color">{{ color }}</option>
        </select>
      </div>

      <button class="add-to-cart-button" (click)="addToCart()">Add to Cart</button>

      <div *ngIf="showSuccessMessage" class="success-message">
        Product added to cart!
      </div>
    </div>
</div>