<div class="cart-container">
    <div class="cart-products-container">
        <div class="cart-product" *ngFor="let item of cart.products">
            <div class="picture-container">
                <img [src]="getBase64ImageUrl(item.picturesData[0])" alt="Product Image">
            </div>
            <div class="description-container">
                <p class="name">{{item.name}}</p>
                <p class="description">{{item.description}}</p>
                <p class="size">{{item.productSizes[0]}}</p>
                <p class="color">{{item.productColors[0]}}</p>
                <button class="remove-btn" (click)="removeFromCart(item.id)">&#10005; Remove</button>
            </div>
            <div class="price">
                <p>{{item.price}} лв.</p>
            </div>
        </div>
    </div>
    <div class="cart-order-container">
        <div class="cart-order">
            <div class="price-container">
                <p class="total">Total</p>
                <p class="total-price">{{totalPrice}} лв.</p>
            </div>
            <div class="order-btn-container">
                <button class="order-btn" (click)="order()">Order</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isOrderPlaced" class="order-message">
    <p>Your order has been placed. Redirecting to the home page...</p>
</div>